<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874733787854-n8doov9ef18vnq0mlq1th0688u1ooull.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874733787854-n8doov9ef18vnq0mlq1th0688u1ooull</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>874733787854-c9dm2fohsc4rg40s0ua0g35l8m0kqrsl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAknJmm6PbGPDRjQcjcjX_MBGQ_iYDy4yo</string>
	<key>GCM_SENDER_ID</key>
	<string>874733787854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beunique.tienda</string>
	<key>PROJECT_ID</key>
	<string>tienda-b2527</string>
	<key>STORAGE_BUCKET</key>
	<string>tienda-b2527.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874733787854:ios:bdb5701d69b51458374e9f</string>
	<key>DATABASE_URL</key>
	<string>https://tienda-b2527.firebaseio.com</string>
</dict>
</plist>